<%= link_to "<div class='block'></div>".html_safe , games_path(move: 0) , method: :post %>
<%= link_to "<div class='block'></div>".html_safe , games_path(move: 1) , method: :post %>
<%= link_to "<div class='block'></div>".html_safe , games_path(move: 2) , method: :post %>
<br>
<%= link_to "<div class='block'></div>".html_safe , games_path(move: 3) , method: :post %>
<%= link_to "<div class='block'></div>".html_safe , games_path(move: 4) , method: :post %>
<%= link_to "<div class='block'></div>".html_safe , games_path(move: 5) , method: :post %>
<br>
<%= link_to "<div class='block'></div>".html_safe , games_path(move: 6) , method: :post %>
<%= link_to "<div class='block'></div>".html_safe , games_path(move: 7) , method: :post %>
<%= link_to "<div class='block'></div>".html_safe , games_path(move: 8) , method: :post %>
