<% players.each do |player| %>
<tbody>
  <tr class="sort-tr-tag">
    <td><%= check_box_tag "player_ids[]" , player.id  ,false  %></td>
    <th scope="row" class="player-name"><%= player.username%></th>
    <td class="player-status"  >
      <span class=<%= player.status ? 'active' : 'inactive'; %>> <%= player.status ? "Active" : "Inactive" %></span>
      <div class="checkbox">
        <label>
          <% if player.status %>
          <input type="checkbox" checked data-toggle="toggle" class="status-checkbox" value="<%= player.id %>">
          <% else %>
          <input type="checkbox" data-toggle="toggle" class="status-checkbox" value="<%= player.id %>">
          <% end %>
        </label>
      </div>
    </td>
  </tr>
</tbody>
<% end %>


