<div class="row">
  <div class="col-sm-5">
    <h2>List of Players</h2>
    <%= form_tag deactivate_players_path , method: :put do %>
    <table class="table">
      <thead class="thead-dark">
        <tr>
        <th>Select All <%= check_box_tag "select_all" , "0" , false , class: "toggle-check" %></th>
          <th scope="col"> Player's Name</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <% @players.each do |player| %>
      <tbody>
        <tr class="sort-tr-tag"> 
        <td><%= check_box_tag "player_ids[]" , player.id  ,false  %></td>
          <th scope="row"><%= player.username%></th>
          <td class="player-status"><%=  player.status ? "Active": "Inactive" %></td>
         
        </tr>
      </tbody>
      <% end %>
    </table>
    <%= submit_tag "Deactivate"  , class: "btn btn-danger"%>
    <%= submit_tag "Activate"  , class: "btn btn-success"%>
    <% end %>
  </div>
</div>